<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Abradacanter</string>
	<string>Acrylic Paint</string>
	<string>Alicorn royal guards</string>
	<string>Aloha</string>
	<string>Alphabittle</string>
	<string>Amelia Airhoof</string>
	<string>Amethyst Skim</string>
	<string>Amethyst Star</string>
	<string>Angel Wings</string>
	<string>Announcer Pony</string>
	<string>Apple Bumpkin</string>
	<string>Apple Polish</string>
	<string>Apple Stars</string>
	<string>Applejack</string>
	<string>Aqua Burst</string>
	<string>Arpeggio</string>
	<string>Audience Pony</string>
	<string>Auntie Lofty</string>
	<string>Bacon Braids</string>
	<string>Bags Valet</string>
	<string>Ballad</string>
	<string>Banana Fluff</string>
	<string>Berryshine</string>
	<string>Beyond</string>
	<string>Big Bell</string>
	<string>Big McIntosh</string>
	<string>Big Shot</string>
	<string>Birch Bucket</string>
	<string>Bittersweet</string>
	<string>Black Marble</string>
	<string>Blaze</string>
	<string>Blossom Delight</string>
	<string>Blossomforth</string>
	<string>Blue Belle</string>
	<string>Blue Buck</string>
	<string>Blue Diamond</string>
	<string>Blue Emerald</string>
	<string>Blue Moon</string>
	<string>Blue October / Blueberry Muffin</string>
	<string>Bluebell</string>
	<string>Blueberry Banana</string>
	<string>Blueberry Cloud</string>
	<string>Blueberry Frosting</string>
	<string>Blueberry Punch</string>
	<string>Bluebird Happiness</string>
	<string>Bluenote</string>
	<string>Bon Voyage</string>
	<string>Bow Hothoof</string>
	<string>Bracer Britches</string>
	<string>Brass Blare</string>
	<string>Bright Bulb</string>
	<string>Sunshine Smiles</string>
	<string>Buddy</string>
	<string>Bulk Biceps</string>
	<string>Burly Unicorn</string>
	<string>Buttershy</string>
	<string>Meadow Flower</string>
	<string>Candy Floss</string>
	<string>Caramel</string>
	<string>Carbon Fizz</string>
	<string>Carrot Bun</string>
	<string>Cerulean Skies</string>
	<string>Chancellor Neighsay</string>
	<string>Cheerful Fan</string>
	<string>Cherry Berry</string>
	<string>Cherry Spices</string>
	<string>Chip Mint</string>
	<string>Chocolate Blueberry</string>
	<string>Chocolate Sun</string>
	<string>Chocolate Tail</string>
	<string>Cinnabelle</string>
	<string>Cinnamon Chai</string>
	<string>Cinnamon Swirl</string>
	<string>Cipher Splash</string>
	<string>Citrine Spark</string>
	<string>Claude</string>
	<string>Clear Skies</string>
	<string>Clear Sky</string>
	<string>Cloud Break</string>
	<string>Cloud Chaser</string>
	<string>Cloud Showers</string>
	<string>Cloverbelle</string>
	<string>Coifed Waiter Pony</string>
	<string>Cold Front</string>
	<string>Comet Tail</string>
	<string>Commander Ironhead</string>
	<string>Compass Star</string>
	<string>Confident Friendship Student</string>
	<string>Cool Beans</string>
	<string>Coral Bits</string>
	<string>Coriander Cumin</string>
	<string>Cosmic</string>
	<string>Cotton Sky</string>
	<string>Cozy Glow</string>
	<string>Crafty Crate</string>
	<string>Cranberry Muffin</string>
	<string>Cream Tangerine</string>
	<string>Mane Moon</string>
	<string>Crimson Heart</string>
	<string>Crystal Clear</string>
	<string>Cultivar</string>
	<string>Daisy</string>
	<string>Dandy Grandeur</string>
	<string>Dane Tee Dove</string>
	<string>Dapper Pony</string>
	<string>Daring Do</string>
	<string>Teddie Safari</string>
	<string>Dazzle Feather</string>
	<string>Dear Darling</string>
	<string>Delivery Pony</string>
	<string>Desert Wind</string>
	<string>Destitute Pony</string>
	<string>Detective Pony</string>
	<string>Cloud Kicker</string>
	<string>Determined Trainee</string>
	<string>Dewdrop</string>
	<string>Diamond Mint</string>
	<string>Dignified Shop-Pony</string>
	<string>Director</string>
	<string>Disciplined Trainee</string>
	<string>Discord</string>
	<string>Distant Star</string>
	<string>Distinguished Pony</string>
	<string>Distinguished Waiter Pony</string>
	<string>DJ Pon-3</string>
	<string>Doctor Horse</string>
	<string>Downdraft</string>
	<string>Dr Steth</string>
	<string>Dr. Hooves</string>
	<string>Drizzle</string>
	<string>Duchess of Maretonia</string>
	<string>Dusty Gust</string>
	<string>Dusty Swift</string>
	<string>Eager Townspony</string>
	<string>Earl Grey</string>
	<string>Eff Stop</string>
	<string>Electric Blue</string>
	<string>Electric Sky</string>
	<string>Ponet Elite Pony</string>
	<string>Eliza</string>
	<string>Emerald Green</string>
	<string>Endless Clouds</string>
	<string>Evergreen</string>
	<string>Excitable Villager</string>
	<string>Fancy Pants</string>
	<string>Fashion Plate</string>
	<string>Citrus Blush</string>
	<string>Fast Clip</string>
	<string>Fat Stacks</string>
	<string>Feather Flatterfly</string>
	<string>Feather Twirl</string>
	<string>Felix</string>
	<string>Fiery Fricket</string>
	<string>Fine Catch</string>
	<string>Fine Line</string>
	<string>Fire Flare</string>
	<string>Fire Streak</string>
	<string>Firelight</string>
	<string>First Folio</string>
	<string>Flam</string>
	<string>Flank Sinatra</string>
	<string>Flash Magnus</string>
	<string>Flash Sentry</string>
	<string>Fleetfoot</string>
	<string>Fleur de Lis</string>
	<string>Flim</string>
	<string>Flitter</string>
	<string>Flower Flight</string>
	<string>Flutterholly</string>
	<string>Fluttershy</string>
	<string>Fluttershy's father / Mr. Shy</string>
	<string>Fluttershy's mother / Mrs. Shy</string>
	<string>Fly Wishes</string>
	<string>Fond Feather</string>
	<string>Four Step</string>
	<string>Foxxy Trot</string>
	<string>Fresh Coat</string>
	<string>Fuchsia Fizz</string>
	<string>Fuchsia Gems</string>
	<string>Fun-Loving Trainee</string>
	<string>Furniture Salespony</string>
	<string>Gary Coronet</string>
	<string>Geronimo</string>
	<string>Ginger Shade</string>
	<string>Giza Hafir</string>
	<string>Glamour Trot</string>
	<string>Glitter Pony</string>
	<string>Globe Trotter</string>
	<string>Gold Slipper</string>
	<string>Golden Gavel</string>
	<string>Golden Glory</string>
	<string>Golden Harvest</string>
	<string>Goldengrape</string>
	<string>Moonlight Raven</string>
	<string>Gourmand Ramsay</string>
	<string>Graceful Falls</string>
	<string>Grape Soda</string>
	<string>Grim EEA Official</string>
	<string>Grizzled Old Wonderbolt</string>
	<string>Head Chef Pony</string>
	<string>Heather Harp</string>
	<string>Helia</string>
	<string>Hermes</string>
	<string>High Note</string>
	<string>High Roller</string>
	<string>High Spirits</string>
	<string>High Winds</string>
	<string>Hippocratic Oath</string>
	<string>Holly Dash</string>
	<string>Honey Rays</string>
	<string>Hoo'Far</string>
	<string>Hoofdini</string>
	<string>Hoops</string>
	<string>Hors D'oeuvre</string>
	<string>Horticultural Pegasus</string>
	<string>Huckleberry</string>
	<string>Hyacinth Dawn</string>
	<string>Ice Mirror</string>
	<string>Icy Rain</string>
	<string>Imperial Alchemist Pony</string>
	<string>Whoa Nelly</string>
	<string>Infinity</string>
	<string>Inky Rose</string>
	<string>Rainbowshine</string>
	<string>Ivy Vine</string>
	<string>Izzy Moonbow</string>
	<string>Jack Hammer</string>
	<string>Jack Pot</string>
	<string>Janitor Pony</string>
	<string>Jet Set</string>
	<string>Jetstream</string>
	<string>Jeweled Pony</string>
	<string>Joe</string>
	<string>Juicy Fruit</string>
	<string>King Sombra</string>
	<string>White Lightning</string>
	<string>Laid-Back Fan</string>
	<string>Laurette</string>
	<string>Lavender Skies</string>
	<string>Lavender Sunrise</string>
	<string>Derpy</string>
	<string>Lemon Hearts</string>
	<string>Lemon Honey</string>
	<string>Lemon Lime</string>
	<string>Lemony Gem</string>
	<string>Librarian Pony</string>
	<string>Lightning Dust</string>
	<string>Lightning Riff</string>
	<string>Lightning Streak</string>
	<string>Lilac Hearts</string>
	<string>Lilac Notes</string>
	<string>Lilly Love</string>
	<string>Lily Lace</string>
	<string>Lime Jelly</string>
	<string>Line Pony</string>
	<string>Lipstick Vanity</string>
	<string>Log Jam</string>
	<string>Lolli Love</string>
	<string>Love Sketch</string>
	<string>Luckette</string>
	<string>Lucky Clover</string>
	<string>Lucy Packard</string>
	<string>Luster Dawn</string>
	<string>Lyra Heartstrings</string>
	<string>Madden</string>
	<string>Magenta Townspony</string>
	<string>Magnet Bolt</string>
	<string>Mama Biceps</string>
	<string>Mane Allgood</string>
	<string>Maple Cheer</string>
	<string>Mare Do Well</string>
	<string>Masked Nurse</string>
	<string>Meadow Song</string>
	<string>Medallion Gold</string>
	<string>Merry</string>
	<string>Merry May</string>
	<string>Midnight Strike</string>
	<string>Midwinter Grace</string>
	<string>Mind Freak</string>
	<string>Mint Condition</string>
	<string>Minty Bubblegum</string>
	<string>Minuette</string>
	<string>Miss Hackney</string>
	<string>Mistmane</string>
	<string>Mistmane's Father</string>
	<string>Mistmane's Mother</string>
	<string>Misty Fly</string>
	<string>Monochrome Sunset</string>
	<string>Moon Dancer</string>
	<string>Moonlight Zephyr</string>
	<string>Morning Roast</string>
	<string>Mossy Rock</string>
	<string>Mountain Haze</string>
	<string>Muggy Air</string>
	<string>Mulberry Flowers</string>
	<string>Nachtmusik</string>
	<string>Nasal Pony</string>
	<string>Natural Deduction</string>
	<string>Neat-Maned Townspony</string>
	<string>Neon Lights</string>
	<string>Night Glider</string>
	<string>Nightjar</string>
	<string>Nile Faras</string>
	<string>Nixie</string>
	<string>Nook</string>
	<string>Northern Lights</string>
	<string>Noteworthy</string>
	<string>November Rain</string>
	<string>Nurse Fahrenheit</string>
	<string>Ocean Breeze</string>
	<string>Offbeat</string>
	<string>Old Money</string>
	<string>Pizzelle</string>
	<string>Open Heart</string>
	<string>Open Skies</string>
	<string>Orange Swirl</string>
	<string>Orchid Dew</string>
	<string>Out of Town Pony</string>
	<string>Package Deal</string>
	<string>Parasol</string>
	<string>Party Favor</string>
	<string>Parula</string>
	<string>Passionate</string>
	<string>Patty Peppermint</string>
	<string>Peaceful Flower</string>
	<string>Peachy Sweet</string>
	<string>Peanut Pastry</string>
	<string>Peanut Plant</string>
	<string>Pegasus Crystal Pony royal guards</string>
	<string>Pegasus Dad</string>
	<string>Pegasus royal guards</string>
	<string>Perceptive Friendship Student</string>
	<string>Perfect Pace</string>
	<string>Perfect Timing</string>
	<string>Tracy Flash</string>
	<string>Pink Cloud</string>
	<string>Pinkie Pie</string>
	<string>Pinny Lane</string>
	<string>Pixie</string>
	<string>Polo Play</string>
	<string>Pompadoured Future Wonderbolt</string>
	<string>Pony Shopper</string>
	<string>Poofy-Haired Future Wonderbolt</string>
	<string>Poppycock</string>
	<string>Port Wine</string>
	<string>Cayenne</string>
	<string>Potion Nova</string>
	<string>Pound Cake</string>
	<string>Precious</string>
	<string>Press Release</string>
	<string>Pretzel</string>
	<string>Prim Posy</string>
	<string>Prince Blueblood</string>
	<string>Prince Hisan</string>
	<string>Princess Cadance</string>
	<string>Princess Celestia</string>
	<string>Princess Luna</string>
	<string>Princess Pipp Petals</string>
	<string>Princess Zipp Storm</string>
	<string>Prism Glider</string>
	<string>Pristine</string>
	<string>Professor Flintheart</string>
	<string>Public Works Pony</string>
	<string>Pumpkin Cake</string>
	<string>Pumpkin Tart</string>
	<string>Puppydog Tails</string>
	<string>Purple Stuff</string>
	<string>Q. T. Prism</string>
	<string>Quake</string>
	<string>Queen Haven</string>
	<string>Quiet Gestures</string>
	<string>Quiet Somnambulan</string>
	<string>Rachel Hay</string>
	<string>Rain Dance</string>
	<string>Rain Swirl</string>
	<string>Rainbow Blaze</string>
	<string>Rainbow Dash</string>
	<string>Rainbow Drop</string>
	<string>Rainbow Swoop</string>
	<string>Rainy Day</string>
	<string>Ramal Kthyb</string>
	<string>Rare Find</string>
	<string>Rarity</string>
	<string>Rarity's dad / Hondo Flanks</string>
	<string>Rarity's mom / Cookie Crumbles</string>
	<string>Raspberry Latte</string>
	<string>Raspberry Sorbet</string>
	<string>Raven Inkwell</string>
	<string>Ray Stinger</string>
	<string>Record High</string>
	<string>Red Gala</string>
	<string>Red Rose</string>
	<string>Redwood Oak</string>
	<string>Reporter Pony</string>
	<string>Rhythm / Night Shade</string>
	<string>Riverdance</string>
	<string>Roar Horn</string>
	<string>Rocky Storm</string>
	<string>Rolling Thunder</string>
	<string>Rose</string>
	<string>Rosemary</string>
	<string>Rosewing</string>
	<string>Rosewood Brook</string>
	<string>Rosy Pearl</string>
	<string>Rotten Apple</string>
	<string>Round Pony</string>
	<string>Royal Legionnaire</string>
	<string>Royal Pin</string>
	<string>Royal Ribbon</string>
	<string>Ruddy Sparks</string>
	<string>Sable Spirit</string>
	<string>Fluffy Clouds</string>
	<string>Saffron Masala</string>
	<string>Sandstorm</string>
	<string>Sapphire Shores</string>
	<string>Sassaflash</string>
	<string>Sassy Saddles</string>
	<string>Savoir Fare</string>
	<string>Say Cheese</string>
	<string>Scootaloo</string>
	<string>Sea Swirl</string>
	<string>Shining Armor</string>
	<string>Shoeshine</string>
	<string>Shooting Star</string>
	<string>Short Fuse</string>
	<string>Shrimp Cuisine</string>
	<string>Shutter Snap</string>
	<string>Sightseer</string>
	<string>Silver Spanner</string>
	<string>Silver Zoom</string>
	<string>Silverspeed</string>
	<string>Silverwing</string>
	<string>Skeptical Somnambulan</string>
	<string>Sky Flower</string>
	<string>Sky Stinger</string>
	<string>Sky Sweeper</string>
	<string>Skyra</string>
	<string>Slapshot</string>
	<string>Slick Waiter Pony</string>
	<string>Slipstream</string>
	<string>Smiley Somnambulan</string>
	<string>Smiley Star</string>
	<string>Dumb-Bell</string>
	<string>Snapshot</string>
	<string>Snobbish Waiter Pony</string>
	<string>Snooty Fashion Scenester</string>
	<string>Snow Violet</string>
	<string>Snowdash</string>
	<string>Snowfall Frost</string>
	<string>Snowslide</string>
	<string>Soarin</string>
	<string>Soaring Virtue</string>
	<string>Somnambula</string>
	<string>Songbird Serenade</string>
	<string>Songbird Serenade's Agent</string>
	<string>Songbird Serenade's Bodyguard</string>
	<string>South Pole</string>
	<string>Spa Worker</string>
	<string>Special Delivery</string>
	<string>Spellbound</string>
	<string>Spiral Notepad</string>
	<string>Spitfire</string>
	<string>Sprigfield</string>
	<string>Spring Fresh</string>
	<string>Spring Skies</string>
	<string>Sprinkle Medley</string>
	<string>Sprout Greenhoof</string>
	<string>Stage Tales</string>
	<string>Star Dream / Sky Dream</string>
	<string>Star Hunter</string>
	<string>Star Swirl the Bearded</string>
	<string>Starburst</string>
	<string>Stärke Kragen</string>
	<string>Starlight Glimmer</string>
	<string>Starry Eyes</string>
	<string>Steam Roller</string>
	<string>Steeplechase</string>
	<string>Steer Straight</string>
	<string>Stellar Eclipse</string>
	<string>Stellar Flare</string>
	<string>Stormbreaker</string>
	<string>Stormfeather</string>
	<string>Stormy Flare</string>
	<string>Strawberry Ice</string>
	<string>Strawberry Lime</string>
	<string>Strawberry Scoop</string>
	<string>Strawberry Sunrise</string>
	<string>Stygian</string>
	<string>Stylish Fan</string>
	<string>Sugar Apple</string>
	<string>Sugar Belle</string>
	<string>Sugar Maple</string>
	<string>Sugar Twist</string>
	<string>Sugarberry</string>
	<string>Sugarshine</string>
	<string>Sun Chaser</string>
	<string>Sunburst</string>
	<string>Sunlight</string>
	<string>Sunny Delivery</string>
	<string>Sunny Rays</string>
	<string>Sunset Rain</string>
	<string>Sunset Shimmer</string>
	<string>Sunshine Petals</string>
	<string>Sunshower</string>
	<string>Sunshower Raindrops</string>
	<string>Sunstone</string>
	<string>Surprise</string>
	<string>Swan Song</string>
	<string>Sweet Biscuit</string>
	<string>Sweet Buzz</string>
	<string>Sweet Dreams</string>
	<string>Sweet Pepper</string>
	<string>Sweet Service</string>
	<string>Sweetie Belle</string>
	<string>Swishy-Haired Future Wonderbolt</string>
	<string>Swooshy-Haired Future Wonderbolt</string>
	<string>Tempest Shadow</string>
	<string>The Great and Powerful Trixie</string>
	<string>The Inquisitor</string>
	<string>Doctor Whooves</string>
	<string>Thunderlane</string>
	<string>Tiger Lily</string>
	<string>Tight Ship</string>
	<string>Timekeeper Pony</string>
	<string>Top Marks</string>
	<string>Top Notch</string>
	<string>Trenderhoof</string>
	<string>Trendy Choreographer</string>
	<string>Trendy Photographer Pony</string>
	<string>Trim EEA Official</string>
	<string>Trixie</string>
	<string>Tropical Dream</string>
	<string>Tropical Storm</string>
	<string>Trusty Splendor</string>
	<string>Turquoise Thunder</string>
	<string>Tut Junah</string>
	<string>Twilight Sky</string>
	<string>Twilight Sparkle</string>
	<string>Twilight's dad / Night Light</string>
	<string>Twilight's mom / Twilight Velvet</string>
	<string>Twinkleshine</string>
	<string>Twirly Whirly</string>
	<string>Undertone</string>
	<string>Unicorn Baker</string>
	<string>Unicorn royal guards</string>
	<string>Upper Crust</string>
	<string>Valley Trend</string>
	<string>Vapor Trail</string>
	<string>Vapor's Dad</string>
	<string>Vapor's Mom</string>
	<string>Velvet Light</string>
	<string>Villager</string>
	<string>Vinny</string>
	<string>Warm Front</string>
	<string>Wave Chill</string>
	<string>Wavy-Haired Pegasus</string>
	<string>Waxton</string>
	<string>Dark Moon</string>
	<string>Whinnyfield</string>
	<string>Whiplash</string>
	<string>Whirlwind Romance</string>
	<string>Whitewash</string>
	<string>Wide-Eyed Villager</string>
	<string>Wild Fan</string>
	<string>Wild Fire</string>
	<string>Wind Chill</string>
	<string>Wind Rider</string>
	<string>Wind Waker</string>
	<string>Windy Whistles</string>
	<string>Wing Wishes</string>
	<string>Wooden Legs</string>
	<string>Zephyr Breeze</string>
	<string>Zesty Gourmand</string>
	<string>Zoom Zephyrwing</string>
</array>
</plist>
